<!--The content below is only a placeholder and can be replaced.-->
<div >
    <!-- Welcome to {{ title }}! -->
    <!-- <app-take-servay></app-take-servay> -->
    <!-- <app-employee-list></app-employee-list> -->
    <div style="padding:5px">
      <ul class="nav nav-tabs">
          <li routerLinkActive="active">
              <a routerLink="home">Home</a>
          </li>
          <li routerLinkActive="active">
              <a routerLink="employees">Employees</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="servay">Servay</a>
        </li>
      </ul>
      <br/>
      <router-outlet></router-outlet>
  </div>
  </div>


